@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";
*{
  font-family: outfit;
}

 @theme {
  --text-course-details-heading-small: 26px;
  --text-course-details-heading-small--line-height: 36px;

  --text-course-details-heading-large: 36px;
  --text-course-details-heading-large--line-height: 44px;

  --text-home-heading-small: 28px;
  --text-home-heading-small--line-height: 34px;

  --text-home-heading-large: 48px;
  --text-home-heading-large--line-height: 56px;

  --text-default: 15px;
  --text-default--line-height: 21px;
} 

 /* @utility text-course-details-heading-small {
  font-size: 26px;
  line-height: 36px;
}

@utility text-course-details-heading-large {
  font-size: 36px;
  line-height: 44px;
}

@utility text-home-heading-small {
  font-size: 28px;
  line-height: 34px;
}

@utility text-home-heading-large {
  font-size: 48px;
  line-height: 56px;
}

@utility text-default {
  font-size: 15px;
  line-height: 21px;
}  */
 